.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.actionButtonDetails{
  border-color: #673ab7;
  color: #673ab7;
}

.actionButtonEdit{
  border-color: #ffd11a;
  color: #ffd11a;
}

.actionButtonDelete{
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.actionButtons{
  margin-left: 3px;;
}